/*ul > li {*/
/*    color: red;*/
/*}*/

/*ul > li.green {*/
/*    color: green;*/
/*}*/
table{
    margin: auto;
    margin-top: 60px;
}
td, th{
    border: 1px solid grey;
}
th {
    cursor: pointer;
}
th:hover {
    background: yellow;
}
